<div class="center">

  <form #joinForm="ngForm" (ngSubmit)="join()">
    <h1>Spiel beitreten!</h1>

    <div>
      <div class="flex">
        <div class="txt_field">
          <input type="text" name="playerName" id="playerName" [(ngModel)]="playerName" #server="ngModel" required
                 pattern="^[a-zA-Z0-9._]+$" [ngClass]="{'has-value': playerName != ''}">
          <span></span>
          <label>Spielername:</label>
        </div>
        <div *ngIf="server.hasError('required') && server.touched">
          <span class="error" matTooltip="Sie müssen einen Spielernamen angeben!"
                matTooltipClass="custom-tooltip"
                matTooltipPosition="below">&#9888;
          </span>
        </div>
        <div *ngIf="server.hasError('pattern')">
          <span class="error" matTooltip="Dieser Spielernamen ist nicht erlaubt!"
                matTooltipClass="custom-tooltip"
                matTooltipPosition="below">&#9888;
          </span>
        </div>
      </div>
    </div>

    <div id="buttons">
      <button id="join" type="submit" [disabled]="joinForm.invalid">Spiel beitreten</button>
      <button id="leave" (click)="cancel()">Abbrechen</button>
    </div>
  </form>
</div>
