<app-join *ngIf="!routerService.joined"></app-join>

<div *ngIf="routerService.joined">
  <app-dice-display [holdDices]="routerService.holdDices" [dices]="routerService.dices"></app-dice-display>

  <app-field [readonlyV]="true" [playersField]="false" [map]="routerService.sumField" *ngIf="routerService.sumField != undefined"></app-field>
  <app-field [readonlyV]="false" [playersField]="true" [map]="routerService.playersField" *ngIf="routerService.playersField != undefined"></app-field>

  <h2>Ich: {{routerService.playerName}}</h2>
  <h1>Aktueller Spieler: {{routerService.activePlayer}}</h1>
</div>
