//.game {
//  display: flex;
//  flex-direction: row;
//  justify-content: left;
//  align-items: center;
//}
//
//.dice {
//  display: flex;
//  flex-direction: row;
//  justify-content: center;
//  align-items: center;
//}
//
//app-dice-display {
//  margin: 100px;
//}
//
//app-alert {
//  position: absolute;
//  right: 0;
//  top: 0;
//}
//
//h2 {
//  margin: 5px;
//}
//
//.data {
//  display: flex;
//  flex-direction: column;
//}
//
//@media (max-width: 800px) {
//  .game {
//    display: flex;
//    flex-direction: column;
//    justify-content: space-around;
//    align-items: center;
//  }
//
//  app-dice-display {
//    margin: 30px;
//  }
//}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.data {
  align-self: flex-start;
}

.game {
  display: flex;
  justify-content: flex-start;
}

.dice {
  display: flex;
  align-items: center;
  justify-content: center;
}
