<div class="container">
  <div *ngIf="routerService.joined">
    <div class="center">
      <button class="leave" (click)="leaveGame()">Verlassen</button>

      <div class="field">
        <app-field [readonlyV]="true" [map]="routerService.sumField!"
                   *ngIf="routerService.sumField != undefined"></app-field>
        <app-field [readonlyV]="false" [bools]="routerService.booleans" [map]="routerService.playersField!"
                   *ngIf="routerService.playersField != undefined"></app-field>
      </div>

      <div class="dice" id="outer">
        <div class="data">
          <h2 *ngIf="routerService.gameEnd">Gewinner: {{routerService.winner}}</h2>
          <h2 *ngIf="!routerService.gameEnd">Aktueller Spieler: {{routerService.activePlayer}}</h2>
          <h2 *ngIf="!routerService.gameEnd">Spielzüge: {{routerService.movesLeft}}</h2>
        </div>

        <div>
          <app-display-dice-new id="display" [changeDices]="routerService.dices"></app-display-dice-new>
        </div>
      </div>
    </div>
  </div>
</div>
