<div id="main">
  <div class="titleFlex">
    <div *ngFor="let elem of getNames(); index as i">
      <div class="valElem borderBottom" [class.headLine]="i == 0" [class.borderVert2]="i > 0 && i < getNames().length-1"
           [class.borderVert]="i == 0"
           id="titleElem">{{elem}}</div>
    </div>
  </div>

  <div *ngFor="let elem of list; index as i">
    <div class="valElemRow">
      <div class="valElem borderVert left borderBottom2" id="type">{{list[i]}}</div>

      <div *ngFor="let ele of getRowElements(i); index as j">
        <button *ngIf="ele != -1 && readonlyV" (click)="click(i)" class="valElem value borderBottom2"
                [class.borderVert2]="j < getRowElements(i).length-1" [class.buttonWrite]="!readonlyV">{{ele}}</button>
        <button *ngIf="ele != -1 && !readonlyV" (click)="click(i)" class="valElem value borderBottom2"
                [class.borderVert2]="j < getRowElements(i).length-1" [class.buttonWrite]="!readonlyV">{{ele}}</button>

        <button *ngIf="ele == -1 && readonlyV" (click)="click(i)" class="valElem value borderBottom2"
                [class.borderVert2]="j < getRowElements(i).length-1" [class.buttonWrite]="!readonlyV"></button>
      </div>
    </div>
  </div>

  <div class="valElemRow">
    <div class="valElem borderVert left">sum</div>

    <div *ngFor="let elem of getSums(); index as i">
      <div class="valElem value" [class.borderVert2]="i < map.size-1">{{elem}}</div>
    </div>
  </div>
</div>
