.outer {
  display: flex;
  padding: 0;
  width: min-content;
}

.fullOuter {
  height: 100vh;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.inner {
  display: flex;
  flex-direction: column;
}

.elem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 5px;

  height: 25px;
  width: 100px;
}

.disabled {
  background-color: #666666;
}

.thickBottomLine {
  border-bottom: 4px solid black;
}

.bottomLine {
  border-bottom: 2px solid black;
}

.thickRightLine {
  border-right: 4px solid black;
}

.rightLine {
  border-right: 2px solid black;
}

.hover:hover {
  background-color: #adadad;
}

.scroll {
  display: flex;
  overflow-x: scroll;
  max-width: 220px;
  padding-bottom: 20px;
}
