.borderBottom {
  border-bottom: 3px solid black;
}

.borderBottom2 {
  border-bottom: 1px solid gray;
}

.borderVert {
  border-right: 3px solid black;
}

.borderVert2 {
  border-right: 1px solid gray;
}

.titleFlex, .valElemRow {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.center {
  text-align: center!important;
}

.valElem {
  text-align: center;
  min-width: 85px;
  max-width: 85px;
  height: 15px;
  padding: 15px;
  box-sizing: content-box;
}

.left {
  text-align: left;
}

button {
  background: none;
  border: 0;
}

.buttonWrite:not(:disabled):hover {
  background-color: #f1f1f1;
}

.buttonWrite:disabled {
  background-color: lightgray;
}

#main {
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px;
  max-width: min-content;
}

.headline {
  background-color: blueviolet!important;
}


