<div id="outer">
  <div id="dices">
    <div id="dice" *ngFor="let displayDice of changeDices; index as i">
      <app-dice [hold]="!displayDice.change" (click)="switch(i)" [dice]="displayDice.dice"></app-dice>
    </div>
  </div>

  <div id="btn">
    <button class="btn" (click)="throw()" [disabled]="this.routerService.activePlayer != this.routerService.playerName || this.routerService.throwEnd || this.routerService.end">Würfeln</button>
    <button class="btn" (click)="throwEnd()" [disabled]="this.routerService.activePlayer != this.routerService.playerName || this.routerService.throwEnd || this.routerService.end || routerService.firstMove">Beenden</button>
  </div>
</div>
